Source: sonic-platform-db98cx8514-10cc-db98cx8514
Section: unknown
Priority: optional
Maintainer: Marvell
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>

Package: sonic-platform-db98cx8514-10cc-db98cx8514
Architecture: amd64
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
