Source: sonic-platform-tg48m-p
Section: unknown
Priority: optional
Maintainer: Delta
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>

Package: sonic-platform-tg48m-p
Architecture: arm64
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
